
body {
  background-color: lightslategray;

}
.App {
  font-size: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white
}

.Counter {
  font-size: 2rem;
  font-style: italic;
}

button  {
  background-color: aquamarine;
  font-size: 16px;
  font-style: initial;
  padding:15px;
  margin: 10px;
}

input {
  text-align: center;
  font-size: 30px;
  height: 50px;
  width:500px;
}

h2 {
  color: black;
  font-style: normal;
}

.items-returned {
  margin-left: 600px;
  width: 700px;
  display: flexbox;
  /* justify-content: right; */
  text-align: right;



}

/* .DisplayList {
  width: 500px;
} */
